<div class="container">
<h2>Hello <%=@user%></h2>

<h3>Listing Cars</h3>
 <% if @cars.size == 0 %>
   <h4>There is not car present on the garage.</h4>
   <% else %>
  <table class="table table-striped">
  <tr>
  <th><strong>Make</strong></th>
  <th><strong>Model</strong></th>
  <th><strong>Year</strong></th>
  <th><strong>Color</strong></th>
  <th><strong>Nickname</strong></th>
  </tr>
    <% @cars.each do |car| %>
  <tr>
  <td><%= car.make %></td>
  <td><%= car.model %></td>
  <td><%= car.year %></td>
  <td><%= car.color %></td>
  <td><%= car.nickname %></td>
</tr>
  <% end %>
</table>
<% end %>
</div>
