<p id="notice"><%= notice %></p>
<div class="container">
<h1>Dog Tracker</h1>
<h2>This an app for Tracking Dogs</h2>
<h3>Dog Listing:</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Breed</th>
      <th>Color</th>
      <th>Size</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dogs.each do |dog| %>
      <tr>
        <td><img src="<%= dog.photo %>" width="60px" height="60px"/></td>
        <td><%= dog.name %></td>
        <td><%= dog.breed %></td>
        <td><%= dog.color %></td>
        <td><%= dog.size %></td>
        <td><%= dog.age %></td>
        <td><%= link_to 'Show', dog %></td>
        <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
        <td><%= link_to 'Destroy', dog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dog', new_dog_path %>
</div>
